.testimonial-img {
    width: 150px;
  }
  
  .testimonial-section {
    padding: 50px 0;
  }
  
  .testimonial-section h2,
  .testimonial-section p {
    color: #333;
    text-align: left;
  }
  
  .carousel-item {
    text-align: center;
  }

  .circular-image {
    border-radius: 50%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }

  .welcome-section, .testimonial-section, .workers-section, .companies-section, .contact-section, .about-us-section{
    margin-top: 80px !important;
  }

  .navbar {
    background-color: #007bff !important;
  }
  
  footer {
    background-color: #007bff !important;
    color: white;
  }

 .navbar-nav .nav-link {
    color: #ffffff !important;
}

.nav-link{
    margin-right: 20px;
}
 
